<div class="sidebar-bg">
<!--   <div class="logo-container text-center py-3">
    <img src="../../../../../Assests/login-1.png" alt="Logo" class="logo-img" />
  </div> -->

  <ul class="nav flex-column position-relative">
    <li class="nav-item mb-2" *ngFor="let activity of activities">
      <a
        class="nav-link text-white"
        [routerLink]="activity.url"
        routerLinkActive="active"
      >
        <i [class]="activity.icon"></i> {{ activity.name }}
      </a>
    </li>
  </ul>
</div>